/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Color Theme Swatches in Hex */
/* .natuarise-1-hex {
  color: #f0f0f2;
}
.natuarise-2-hex {
  color: #0583f2;
}
.natuarise-3-hex {
  color: #0597f2;
}
.natuarise-4-hex {
  color: #05aff2;
}
.natuarise-5-hex {
  color: #f2bc1b;
} */
